body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

#navTitle {
  font-size: 40px;
  font-weight: bolder;
}

.container-fluid {
  padding-right: 0px;
  margin-right: 0px;
}

#cityInfo {
  display: block;
  background-color: rgb(176, 134, 215);
}

#cityStats {
  display: block;
  background-color: rgb(207, 169, 238);
}

.col {
  background-color: cornflowerblue;
}

.col-sm-2 {
  background-color: rgb(90, 187, 225);
}

#forecastHeaderText {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}

#searchArea {
  background-color: cadetblue;
}

#searchBTn {
  background-color: dodgerblue;
  cursor: pointer;
}

#previousContainer {
  background-color: teal;
  padding-top: 15px;
}

.btn-lg {
  background-color: cadetblue;
}

#eraseStorage {
  background-color: darkslategray;
  color: white;
  text-align: center;
}
